:root {
  color-scheme: light dark;
}

body {
  transition-duration: 1s;
  font-family: "Reddit Sans Condensed", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(hsl(175deg, 44%, 75%), #fdf9e4);
  color: light-dark(black, white);
}

@media (prefers-color-scheme: dark) {
  body {
    background : #222;
    color: white;
  }

  .logo {
    background-color: #ccc;
    box-shadow: 0 0 3px 3px #ccc;
  }

  .textlink {
    color: turquoise;
  }

  .button:link {
    color: turquoise;
  }

  .button:visited {
    color: #d9f7f3;
  }
}

header h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: lighter;
  letter-spacing: 0.8rem;
}

header p {
  max-width: 90ch;
  margin: 1rem auto;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: light;
  letter-spacing: 0.5ch;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1;
  max-width: 120ch;
  margin-left: auto;
  margin-right: auto;
}

.skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 1rem;
}

.skill {
  flex: 1 1 150px;
  max-width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#github p :hover {
  background-color: hsla(180deg, 50%, 50%, 80%);
  border-radius: 1rem;
}

.skill img {
  max-width: 100%;
}

.skill p {
  text-align: center;
  overflow-wrap: break-word;
}

#panel {
  grid-column: 1;
  background-color: whitesmoke;
  padding: 0 1rem;
}

#profile-pic {
  width: 60%;
  border-radius: 50%;
  margin-left: 20%;
  margin-right: 20%;
}

#education {
  grid-column: 2;
}

dt {
  display: list-item;
  list-style-type: "\25B8   ";
  margin-left: 2.5rem;
  cursor: pointer;
}

.entry {
  width: max-content;
  border: 1px solid;
  border-color: light-dark(black, white);
  padding: 1px 5px;
  margin-top: 20px;
  border-radius: 5px;
}

dt:hover {
  list-style-type: "\25BE   ";
}

dt.show {
  list-style-type: "\25BE   ";
}

.description {
  display: none;
}

.description.show {
  display: block;
}

ul ul {
  padding-inline-start: 1rem;
}

dd, li {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.button {
  display: inline-block;
  border: 1px solid black;
  padding: 1px 5px;
  background-color: light-dark(white, #47525C);
  border-radius: 5px;
}

.button:hover {
  background-color: gray;
  color: white;
}

.button:active {
  background-color: darkgray;
  color: white;
}
