body {
  font-family: "Reddit Sans Condensed", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(hsl(175deg, 44%, 75%), #fdf9e4);
}

header h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: lighter;
  letter-spacing: 0.8rem;
}

nav {
  text-align: center;
}

nav ul {
  padding-left: 0;
}

nav ul li{
  display: inline-block;
  margin: auto 0.8rem;
}

nav ul li :hover{
  color: slategray;
  transition: 150ms;
  text-decoration: none;
}

dt {
  display: list-item;
  list-style-type: disc;
  margin-left: 2.5rem;
}

@media only screen and (min-width: 1000px){
  main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
