body {
  font-family: "Reddit Sans Condensed", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(hsl(175deg, 44%, 75%), #fdf9e4);
}

header h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: lighter;
  letter-spacing: 0.8rem;
}

header p {
  max-width: 90ch;
  margin: 1rem auto;
}

h2 {
  text-align: center;
  font-weight: light;
  letter-spacing: 0.5ch;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1;
  max-width: 120ch;
  margin-left: auto;
  margin-right: auto;
}

.skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 1rem;
}

.skill {
  flex: 1 1 150px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#github p :hover {
  background-color: hsla(180deg, 50%, 50%, 80%);
  border-radius: 1rem;
}

.skill img {
  max-width: 100%;
}

.skill p {
  text-align: center;
}

#panel {
  grid-column: 1;
  background-color: #6e6e8b4a;
}

#profile-pic {
  width: 80%;
  border-radius: 50%;
  margin-left: 10%;
  margin-right: 10%;
}

#education {
  grid-column: 2;
}


dt {
  display: list-item;
  list-style-type: disc;
  margin-left: 2.5rem;
}
